<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>vamsi krishna machina</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
<!--  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'covid19app/vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
<!--  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'covid19app/vendor/fontawesome-free/css/all.min.css' %}">
  <!-- Custom styles for this template -->
<!--  <link href="css/resume.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'covid19app/css/resume.min.css' %}">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">vamsi krishna</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'covid19app/images/profile.jpeg' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#acheivements">Acheivements</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0"> 
          <span class="text-primary">Vamsi Krishna</span>
        </h1>
        
        <p class="lead mb-5">I'm a third year undergraduate student of Computer Science Engineering at saveetha school of engineering.
          I have passion for programming and  loves to write code. I am currently improving my web development skills using
          python/Django(backend) ,html,CSS and javascript and also doing coding challenges on various coding platforms.
          I’m also interested in learning new technologies and succeed in an environment of growth and excellence and earn a job which provides me
          job satisfaction and self development and help me achieve personal as well as organizational goals</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/vamsi-chowdhury-09099/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Vamsichowdhury">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:vamsichowdhury@gmail.com">
          	<i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.hackerrank.com/vamsi09099">
            <i class="fas fa-laptop-code"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">PROJECTS</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Online Book Store</h3>
            <div class="subheading mb-3">Python/Django backend website</div>
            <p>It is a website where students and faculty can upload their own self prepared notes for other students . The website has authentication management which allows users to signup, login, logout  and edit their profile. The user can describe the notes briefly during uploading material and the viewers can comment for the material. Only the original author of the material can delete his uploaded file.</p>

            <div class="subheading mb-3">Programming languages and tools used :</div>
             <ul>
               <li>Python/Django(backend)</li>
               <li>Html</li>
               <li>CSS</li>
               <li>Bootstrap</li>
               <li>JavaScript</li>
             </ul>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Vehicle Detection which crosses the line in traffic:</h3>
            <div class="subheading mb-3">OpenCV/Machine Learning algorithms</div>
            <p>The project is intended to detect and identify the vehicles which crosses the traffic line and exceeding the speeding limit. The vehicle number plate is detected and the number plate is stored in a csv file . The traffic police officials can verify the recorded license number and  penalty the driver .</p>

            <div class="subheading mb-3">Programming languages and tools used :</div>
             <ul>
               <li>Python/OpenCV</li>
               <li>Numpy</li>
               <li>Pandas</li>
               <li>Ipython Jupyter notebook</li>
             </ul>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Bachelor of Enginering</h3>
            <div class="subheading mb-3">Saveetha School of Engineering</div>
            <div>Computer Science and Engineering</div>
            <p class="text-primary">GPA: 8.2</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2017 - 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Higher Secondary School</h3>
            <div class="subheading mb-3">Narayana Junior College</div>
            <div>Maths,Physics,Chemistry</div>
            <p class="text-primary">Percentage : 97</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2015 - 2017</span>
          </div>
        </div><br><br>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Secondary School</h3>
            <div class="subheading mb-3">Sai Vignan High School</div>
            <p class="text-primary">Percentage : 93</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2006 - 2015</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <p>PYTHON</p>
	        <div class="container">
				  <div class="skills python">90%</div>
			</div>

			<p>DJANGO</p>
			<div class="container">
			  <div class="skills django">80%</div>
			</div>

			<p>JAVA</p>
			<div class="container">
			  <div class="skills java">65%</div>
			</div>

			<p>C</p>
			<div class="container">
			  <div class="skills c">60%</div>
			</div>
      <p>HTML</p>
      <div class="container">
        <div class="skills html">50%</div>
      </div>
      <p>CSS</p>
      <div class="container">
        <div class="skills css">40%</div>
      </div>
      <p>BOOTSTRAP</p>
      <div class="container">
        <div class="skills bootstrap">40%</div>
      </div>
      <p>GIT</p>
      <div class="container">
        <div class="skills git">40%</div>
      </div>
      <p>PANDAS</p>
      <div class="container">
        <div class="skills pandas">40%</div>
      </div>
      <p>NUMPY</p>
      <div class="container">
        <div class="skills numpy">40%</div>
      </div>
      <p>OPENCV</p>
      <div class="container">
        <div class="skills opencv">40%</div>
      </div>


      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>I'm interested in full stack webdevelopment,machine learnig and exploring new technologies.I'm passionate about doing coding and
          learning new skills related to computer science .</p>
          <p>I like playing cricket ,watching sci-fi ,adventure,and fantasy movies,reading books, quora feeds and travelling.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="acheivements">
      <div class="w-100">
        <h2 class="mb-5">Acheivements &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            2<sup>nd</sup> place – Chennai Institute of Technology- coding contest-2020</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            5 star rating –  hackerrank , coding website </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Pl/sql certification offered by oracle</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Python programming certification through coursera by university of Michigan.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Published journal paper on Django web framework usage in website building for backend.</li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'covid19app/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'covid19app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'covid19app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'covid19app/js/resume.min.js' %}"></script>

</body>

</html>
